.bg_cim{
  background-image: url("assets/cim1.png") ;
  background-size: 100% 100%; /* This will make the background image cover the entire container */
  background-origin: content-box
}
.ring_gray{
  @apply ring-1 ring-slate-800/10  rounded-md shadow-md;
}
body{
  @apply relative;
}

#root{
  @apply relative;
}